body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.range {
  padding: 40px 0px 60px 0px;
  position: relative;
  width: 900px;
}

.key-img {
  left: 50px;
  margin-top: 150px;
  position: absolute;
  width: 60px;
}

.key-pressed {
  left: 20px;
  margin-top: 150px;
  position: absolute;
  width: 60px;
  animation: keyPress 5s;
}

@keyframes keyPress {
  0%   {left: 20px;}
  100% {left: 600px;}
}

.correct-press {
  animation: correct 5s;
}

@keyframes correct {
  0%   {opacity: 1}  
  25%  {opacity: 2}
  50%  {opacity: 1}
  75%  {opacity: .5}
  100% {opacity: 0;}
}

#scoreContainer {
  position: relative;
  right: -150px;
  top: -278px;
}

.score {
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
  font-weight: 800;
  position: absolute;
  overflow: visible;
  right: -95px;
  top: 60px;
  
}

.pianoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
  padding: 40px 0px 20px 0px;
  vertical-align: center;
  
}

.volumeControl {
  align-self: center;
  position: relative;
  padding: 100px;
  margin-left: 270px;
  width: 50px;
}

#piano-vol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 

#volume-level {
  position: relative;
  
}

#slider {
  position: absolute;
  top: 50px;
  right: 100px;
}

#speaker-horn {
  position: absolute;
  top: -40px;
}

.piano-key {
  display: absolute;
  width: 50px;
}

.piano-press {
  display: absolute;
  width: 50px;
  animation: press 3s ease-out;
}

@keyframes press {
  0%   {opacity: 1; filter: drop-shadow(0px black)}
  25%  {opacity: .6; filter: drop-shadow(1px black)}
  50%  {opacity: .5; filter: drop-shadow(2px black)}
  100% {opacity: .9; filter: drop-shadow(0px black)}
}

.black-key {
  display: absolute;
  height: 180px;
  width: 45px;
}

.button {
  position: absolute;
  background-color: #d9eeba;
  color: black;
  left: -75px;
  top: 205px;
  width: 130px;
  padding: 10px 25px;
  margin: 10px 0px;
  border-radius: 6px;
  transition: filter .7s ease;
  text-align: center;
}

.button:hover {
  filter: brightness(95%);
}